@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <a href="https://twitter.com/theplastictoy">@@theplastictoy</a><br />
    <a href="mailto:ricardo.fiel@@rupeal.com">ricardo.fiel@@rupeal.com</a><br />
    <a href="http://ricardofiel.com">http://ricardofiel.com</a><br />
</address>

