@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    
    @foreach(var meetup in Model) 
    {
        <div class="col-md-3">
            <h2>@meetup.Name</h2>
        </div>
    }
</div>
